@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap"); /* new font */

/* BASIC RESET */
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
    margin: 0;
    padding: 0;
}

/* HTML ELEMENTS */
body {
    overflow: hidden;
    background-color: #19191f;
    color: #fff;
    font-family: "Comfortaa", Courier, monospace;
}

/* PICTURES */
#pictureSlider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}
#pictureSlider div {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -999;
}

/* NAVIGATION BOX */
#navigationBoxes {
    float: left;
}
a {
    text-decoration: none;
    color: #e74344;
    font-weight: bold;
}
a:hover {
    opacity: 1;
    border-bottom: 1px dotted;
}
.navbox {
    width: 100%;
    max-height: 40%;
    overflow: auto;
    position: relative;
    left: 0px;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbox ul {
    list-style-type: none;
    display: block;
    margin: 0px;
    right: 10px;
    top: 10px;
    text-align: left;
}
.navbox ul li {
    display: inline-block;
    list-style-type: none;
}

.numberButton {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.over18 {
    background-color: #e74344;
    color: #e74344 !important;
    font-weight: bold;
}

.over18:hover,
.over18.active,
.over18.active:hover {
    color: #ffffff !important;
    font-weight: normal;
}

.nsfw {
    color: #e74344;
    font-weight: bold;
}

.navbox ul li a {
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.numberButtonList ul li a:hover {
    color: #e74344;
    border: 0;
}
.numberButtonList ul li a.active:hover {
    color: #ffffff;
    cursor: default;
}
.numberButtonList ul li a.active {
    color: #e74344;
}

#controlsDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#titleDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbox h4 {
    padding: 5px 5px 5px 5px;
}
.navbox h6 {
    padding: 0px 5px 5px 5px;
}
.navbox p {
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    color: #ffffff;
}
.navbox p.bottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.nbmenu {
    width: 100%;
    font-size: 14px;
}

.nbmenu li {
    text-align: left;
    padding: 2px;
    overflow: hidden;
}

#navboxContents {
    padding: 5px;
    margin: 0;
}

/* not sure what are these for? */

.cam {
    background-image: url("../images/bg_cam_txt.png");
}
.clouds {
}
.key {
    background-image: url("../images/bg_key_txt.png");
}
.flowers {
    background-image: url("../images/bg_flowers_txt.png");
}

/* /not sure what are these for? */

.collapser {
    border: solid 1px #555;
    font-size: 20px;
    color: #bbb;
    padding: 0 10px;
    float: right;
    cursor: hand;
    cursor: pointer;
}
.checkbox {
    cursor: hand;
    cursor: pointer;
}

.prevArrow {
    position: fixed;
    top: 50%;
    left: 10px;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;

    opacity: 0.8;

    cursor: hand;
    cursor: pointer;
}

.nextArrow {
    position: fixed;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;

    opacity: 0.8;
    cursor: hand;
    cursor: pointer;
}

#fullScreenButton {
    width: 20px;
    padding-left: 10px;
    cursor: pointer;
}

#playButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header {
    align-items: center;
}

input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #e74344;
    background: none;
    color: white;
    text-align: center;
}

input {
    margin-right: 20px;
}
