/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { overflow:hidden; background-color: #000; color:#fff;}

/* PICTURES */
#pictureSlider { }
#pictureSlider div { height:100%; width:100%; position:absolute; z-index:-999; }

/* NAVIGATION BOX */
#navigationBoxes {float: left;}
a { text-decoration:none; color:#eee; font-weight: bold; }
a:hover { border-bottom:1px dotted; }
.navbox { max-height: 600px; overflow: auto; margin: 10px 10px 10px 0; width:450px; position:relative; left: 0px; opacity: 0.9; background-color: #555;}
.navbox ul { list-style-type:none; display:block; margin:0px; right:10px; top:10px; }
.navbox ul li { display:inline; list-style-type: none; cursor:pointer; }
.navbox ul li a {
    display:inline-block; width:25px; height:17px; text-align:center; background:#333; margin-left:5px;
    text-decoration:none; color:#eee; font: bold 14px Helvetica, Arial, Sans-serif; line-height:18px; }
.navbox ul li a:hover { background:#888; color:#000; border: 0; }
.navbox ul li a.active {
    color:#eee;
    background-color: #000;
    -moz-box-shadow: 2px 2px 3px #eee;
    -webkit-box-shadow: 2px 2px 3px #eee;
    box-shadow: 2px 2px 3px #eee;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#EEEEEE')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#EEEEEE');
}

.navbox h2 { padding: 10px; font: bold 30px Helvetica, Arial, Sans-serif; text-shadow: 0px 2px 6px #333; }
.navbox p { padding:20px 20px 20px 20px; font-family: "Segoe UI","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Tahoma,Verdana,sans-serif; font-size:13px; color:#111; }
.navbox p.bottom { position:absolute; bottom:5px; right:5px; }

.nbmenu { margin: auto; font-family: "Segoe UI","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Tahoma,Verdana,sans-serif; font-size:14px; }
.nbmenu td { text-align: center; padding: 0px 10px 10px 10px; max-width: 300px; overflow: hidden; }

#navboxContents {
    padding: 10px 25px 10px 0;
    margin:0;
}

label.checkbox { font-weight: bold; }

/* thanks to http://www.colorzilla.com/gradient-editor/ */
.navbox {
background: -moz-linear-gradient(top,  rgba(63,63,63,0.85) 0%, rgba(63,63,63,0.85) 1%, rgba(147,147,147,0.85) 91%, rgba(160,160,160,0.85) 94%, rgba(90,90,90,0.85) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,63,63,0.85)), color-stop(1%,rgba(63,63,63,0.85)), color-stop(91%,rgba(147,147,147,0.85)), color-stop(94%,rgba(160,160,160,0.85)), color-stop(100%,rgba(90,90,90,0.85))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,63,63,0.85) 0%,rgba(63,63,63,0.85) 1%,rgba(147,147,147,0.85) 91%,rgba(160,160,160,0.85) 94%,rgba(90,90,90,0.85) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,63,63,0.85) 0%,rgba(63,63,63,0.85) 1%,rgba(147,147,147,0.85) 91%,rgba(160,160,160,0.85) 94%,rgba(90,90,90,0.85) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,63,63,0.85) 0%,rgba(63,63,63,0.85) 1%,rgba(147,147,147,0.85) 91%,rgba(160,160,160,0.85) 94%,rgba(90,90,90,0.85) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,63,63,0.85) 0%,rgba(63,63,63,0.85) 1%,rgba(147,147,147,0.85) 91%,rgba(160,160,160,0.85) 94%,rgba(90,90,90,0.85) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93f3f3f', endColorstr='#d95a5a5a',GradientType=0 ); /* IE6-9 */
}

.cam { background-image:url("../images/bg_cam_txt.png"); }
.clouds {  }
.key { background-image:url("../images/bg_key_txt.png"); }
.flowers { background-image:url("../images/bg_flowers_txt.png"); }

.collapser { color: #bbb; float:right; cursor: hand; cursor: pointer;}
.checkbox { cursor: hand; cursor: pointer; }

.arrowLeft {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 25px solid #bbb; 
}

.arrowRight {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 25px solid #bbb; 
}



