/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { overflow:hidden; background-color: #000; color:#fff;}

/* PICTURES */
#pictureSlider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-999;
}
#pictureSlider div { height:100%; width:100%; position:absolute; z-index:-999; }

/* NAVIGATION BOX */
#navigationBoxes {float: left;}
a { text-decoration:none; color:#eee; font-weight: bold; }
a:hover { opacity: 1.0; }
.navbox a:hover { border-bottom:1px dotted; }
.navbox { width:450px; max-height: 40%; overflow: auto; position:relative; left: 0px; opacity: 0.9; background-color: rgba(0,0,0,0.7);}
.navbox ul { list-style-type:none; display:block; margin:0px; right:10px; top:10px; text-align: center;}
/* 108px so the next row is half-visible */
.numberButtonList { overflow: auto; max-height: 108px; }
.navbox ul li { display: inline-block; list-style-type: none; }
.numberButton {
    float: left;
	
	
	
	
	margin-left:5px;
    text-decoration:none;
	color:#eee;
	
    font: bold 12px Helvetica, Arial, Sans-serif;
	line-height:18px; 
    padding: 3px 5px;
}
.navbox ul li a {
	cursor:pointer;
	}
.navbox ul li a:hover { background:#888; color:#000; border: 0; }
.navbox ul li a.active {
    color: #00AAAA;
    -moz-box-shadow: 2px 2px 3px #eee;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#EEEEEE')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#EEEEEE');
}

#controlsDiv {position: absolute; bottom: 0; left: 0;right: 0;}
#titleDiv {position: absolute; top: 0;left: 0;right: 0;}
.navbox h2 { padding: 10px 20px 10px 10px; font: bold 20px Helvetica, Arial, Sans-serif; }
.navbox p { padding:20px 20px 20px 20px; font-family: "Segoe UI","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Tahoma,Verdana,sans-serif; font-size:13px; color:#111; }
.navbox p.bottom { position:absolute; bottom:5px; right:5px; }

.nbmenu {
    margin: 0 0 0 5px;
    width: 100%;
    font-family: "Segoe UI","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Tahoma,Verdana,sans-serif;
    font-size:14px;
    
    }
.nbmenu td { text-align: center; padding: 0px 10px 10px 0; max-width: 300px; overflow: hidden; }

#navboxContents {
    padding: 10px 25px 10px 0;
    margin:0;
}

label.checkbox { font-weight: bold; }

.cam { background-image:url("../images/bg_cam_txt.png"); }
.clouds {  }
.key { background-image:url("../images/bg_key_txt.png"); }
.flowers { background-image:url("../images/bg_flowers_txt.png"); }

.collapser { color: #bbb; float:right; cursor: hand; cursor: pointer;}
.checkbox { cursor: hand; cursor: pointer; }

.arrowLeft {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 25px solid #bbb;
}

.arrowRight {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 25px solid #bbb;
}

.prevArrow {
	position: absolute;
	top: 50%;
    width: 0; 
    height: 0; 
    
	border-top: 10px solid transparent;
    
	border-bottom: 10px solid transparent; 
    
	border-right: 20px solid white; 
	opacity: 0.8;
	left: 10px;
}

.nextArrow {
	position: absolute;
	top: 50%;
	right: 10px;
    width: 0; 
    height: 0; 
    
	border-top: 10px solid transparent;
    
	border-bottom: 10px solid transparent; 
    
	border-left: 20px solid white; 
	opacity: 0.8;
}


/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/