Action php54-cgi /php54.cgi
AddHandler php54-cgi .php

RewriteEngine On
RewriteRule ^r/(.*) /index.html
RewriteRule ^user/(.*) /index.html
RewriteRule ^domain/(.*) /index.html

# to hide .git and allow redditp.com/.compact
RewriteRule ^\.(.*) /index.html

# new multireddits with /me/
RewriteRule ^me/(.*) /index.html

ErrorDocument 404 /404.html
